{% load static %}

<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    <!-- <script src="https://kit.fontawesome.com/b687d41eed.js" crossorigin="anonymous"></script> -->

    <title>Página para entrar</title>
</head>

<body>

    <div class="container">
        
        <form action="submit" method="POST" class="form">{% csrf_token %}


            <input type="text" name="username" placeholder="usuário">
            <input type="password" name="password" placeholder="senha">

            <button type="submit">Entrar</button>

            <a href="http://localhost:8000/registrar/" class="a-login"> Cadastrar-se</a>
        </form>
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
        
    </div>

</body>

</html>